

<form action="/answer" method="get">
  <label for="question">Do you have a question for your coach ?</label>
  <input type="text" id="question" name="query" placeholder="answer here">
  <input type="submit" value="Click here to submit">
</form>

